.post {

  // * {
  //   border: solid red 1px;
  // }

  header {
      @include header('/assets/blog-header.jpg');

      h2 {
        @include heading(white);
        margin-top: 12vh;
        height: 35vh;
      }
    }
  
  main .flex {
    justify-content: space-between;
  }

  .right {

    width: 60%;

    article {

      border-bottom: solid $dandelion 4px;
      position: relative;
      top: -150px;
      overflow: hidden;

      img {
        box-shadow: -20px 20px 0 $dandelion;
        margin-left: 20px;

      }
  
      .content {

        border-left: solid $dandelion 4px;
        padding: 80px;
        
        h1 {
          font-size: 3.8rem;
          line-height: 3.8rem;
          color: $dark-blue;
          // margin: 
        }
      }
    }

    form {
      @include form(transparent, $dark-blue, $dark-blue, $dandelion, $dark-blue);
      width: 100%;
    }

  }
  // end of right

  .left {
    width: 30%;
    order: -1;

    aside {
      justify-content: flex-end;
      background-color: $dark-blue;
      position: relative;
      border-left: 30px $ice-blue solid;

      img {
        position: relative;
        left: -50px;
        top: -10px;
        margin-right: -20px;
      }

      .content {
        width: 90%;
      }

    }

  }

 






}
// the end