@import 'setup';
@import 'variables';

// GENERAL STYLING

html {
  font-size: 62.5%;
}

img {
  width: 100%;
  display: block;
}

.wrapper {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

body {
  background: $ice-blue;
  font-family: 'Roboto', sans-serif;
  font-size: 2.0rem;
}

p {
  line-height: 2.8rem;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

.btn,
h1,
h2,
h3 {
  font-family: 'IM Fell English', serif;
  font-style: italic;
  text-transform: uppercase;
}

h2 {
  font-size: 3.8rem;
  line-height: 3.8rem;
  color: $dark-blue;
}

h3 {
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: 1.3px;
  color: $ice-blue;
}

.btn {
  font-size: 2.24rem;
  line-height: 41.6px;
  text-align: center;
  background-color: $dandelion;
  color: $dark-blue;
  padding: 4px 10px 3px;
  margin: 25px 0 20px;
  border: 5px solid transparent;
  transition: background-color 0.4s ease;
}

.btn:hover,
.btn:focus {
  border: solid 5px $dandelion;
  color: white;
  background-color: $dark-blue;
}

// HEADER STYLING

header {
  background: url(/assets/home-header.jpg) center / cover;
  padding-top: 60px;
}

nav {
  width: 100%;
}

nav a {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: 1px;
  color: white;
  padding: 10px 0 3px;
  margin: 0 20px;
  border-bottom: 2px solid transparent;
}

nav a:hover,
nav a:focus {
  border-bottom: 2px solid $dandelion;
}

.header-content {
  height: 80vh;
}

h1 {
  font-size: calc(4rem + 2vw);
  color: $dandelion;
  width: 45%;
  max-width: 600px;
  align-self: flex-end;
  margin-bottom: 7vh;
}

header img {
  width: 58%;
  position: absolute;
  right: 0;
  top: 27vh;
}

// ABOUT SECTION

.about {
  margin: 25vh 0 15vh;
}

.about .item {
  width: calc(50% - 20px);
}

.about .item:nth-child(odd) {
  margin-right: 10px;
}

.about .item:nth-child(even) {
  margin-left: 10px;
}

.about h2 {
  margin: 60px 0 10px;
}

.about h2::before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  font-size: 2.5rem;
  font-style: normal;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  background-color: $dandelion;
  border-radius: 50%;
  padding: 10px;
  margin: 0 10px 5px 0;
  width: 30px;
  height: 30px;
  display: inline-block;
}

.about .item1 h2::before {
  content: "\f3c5";
}

.about .item2 h2::before {
  content: "\f0c0";
}

.about .item3 h2::before {
  content: "\f15b";
}

.about .item4 h2::before {
  content: "\f095";
}

.about p {
  padding-left: 62px;
}

// PROGRAM SECTION

.programs .wrapper {
  width: 100%;
  justify-content: space-between;
}

.programs {
  background-color: $dark-blue;
}

.program {
  width: 42%;
  max-width: 600px;
  margin-top: -35px;
}

.program:last-child {
  margin-bottom: -23px;
  margin-top: unset;
}

.program img {
  box-shadow: 12px 12px 0 $dandelion;
}

.program img:last-child {
  box-shadow: -12px 12px 0 $dandelion;
}

.program-content {
  margin: 20% 0 10% 20%;
  justify-content: flex-end;
}

.program:last-child .program-content {
  margin: 20% 20% 10% 0;
  justify-content: flex-start;
}

.program p {
  color: white;
  margin: 10px 0;
}


