@import 'setup';
@import 'variables';
@import 'mixins';


// GENERAL STYLING


html {
  font-size: 62.5%;
}

img {
  width: 100%;
  display: block;
}

.wrapper {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

body {
  background: $ice-blue;
  font-family: 'Roboto', sans-serif;
  font-size: 2.0rem;
}

p {
  line-height: 2.8rem;
  letter-spacing: 1px;
  @include tabletMQ {
    font-size: 2rem;
  }
  @include mobileMQ {
  font-size: 1.6rem;
  line-height: 1.4em;
  }
}

a {
  text-decoration: none;
  color: $dark-blue;
}

.btn,
h1,
h2,
h3 {
  font-family: 'IM Fell English', serif;
  font-style: italic;
  text-transform: uppercase;
}

h2 {
  font-size: 3.8rem;
  line-height: 3.8rem;
  color: $dark-blue;
  @include tabletMQ {
    font-size: 3.2rem;
  }
}

h3 {
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: 1.3px;
  color: $ice-blue;
  @include tabletMQ {
    font-size: 3.5rem;
  }
}

h2,
h3 {
  @include mobileMQ{
    font-size: 3rem;
    line-height: 1em;
  }
}

.btn {
  font-size: 2.24rem;
  line-height: 41.6px;
  text-align: center;
  background-color: $dandelion;
  padding: 4px 10px 3px;
  margin: 25px 0 20px;
  border: 5px solid transparent;
  transition: background-color 0.4s ease;
  @include tabletMQ {
    font-size: 2rem;
  }
}

.btn:hover,
.btn:focus {
  border: solid 5px $dandelion;
  color: white;
  background-color: transparent;
}

.btn2:hover,
.btn2:focus {
  color: $dark-blue;
}

// HEADER STYLING

header {
  
  nav {
    width: 100%;
    @include mobileMQ {
      display: none;
    }

    a {
      font-weight: bold;
      font-size: 2rem;
      line-height: 2.9rem;
      letter-spacing: 1px;
      color: white;
      padding: 10px 0 3px;
      margin: 0 20px;
      border-bottom: 2px solid transparent;
    }

    a:hover,
    a:focus {
      border-bottom: 2px solid $dandelion;
    }
  }

  i {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 3rem;
    color: white;
    text-shadow: 2px 2px 4px black;
    visibility: hidden;
    @include mobileMQ {
      visibility: visible;
    }
  }

  i:hover,
  i:focus {
    color: $dandelion;
  }

  .header-content {
    height: 70vh;
    justify-content: space-between;
    @include laptopMQ {
      height: 50vh;
    }
    @include tabletMQ {
      height: 60vh;
    }
    @include tabletpMQ {
      height: 30vh;
    }
  }

  .header-image {
    width: 55%;
    max-width: 900px;
    margin: 6% 0 -15%;
    @include laptopMQ {
      max-width: 650px;
    }
    @include tabletMQ {
      width: 53%;
    }
  }
}

// FOOTER

footer {
  background-color: $dandelion;
  color: $dark-blue;
  text-align: center;
  padding: 10px 20px;
  p {
    line-height: 1em;
    font-size: 1.5rem;
  }
}


// IMPORTING PARTIALS

@import 'home';
@import 'post';
@import 'contact';