a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

img {
  width: 100%;
  display: block;
}

.wrapper {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body {
  background: #EAFEFC;
  font-family: 'Roboto', sans-serif;
  font-size: 2.0rem;
}

p {
  line-height: 2.8rem;
  letter-spacing: 1px;
}

@media (max-width: 1024px) {
  p {
    font-size: 2rem;
  }
}

@media (max-width: 640px) {
  p {
    font-size: 1.6rem;
    line-height: 1.4em;
  }
}

a {
  text-decoration: none;
  color: #0D457F;
}

.btn,
h1,
h2,
h3 {
  font-family: 'IM Fell English', serif;
  font-style: italic;
  text-transform: uppercase;
}

h2 {
  font-size: 3.8rem;
  line-height: 3.8rem;
  color: #0D457F;
}

@media (max-width: 1024px) {
  h2 {
    font-size: 3.2rem;
  }
}

h3 {
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: 1.3px;
  color: #EAFEFC;
}

@media (max-width: 1024px) {
  h3 {
    font-size: 3.5rem;
  }
}

@media (max-width: 640px) {
  h2,
  h3 {
    font-size: 3rem;
    line-height: 1em;
  }
}

.btn {
  font-size: 2.24rem;
  line-height: 41.6px;
  text-align: center;
  background-color: #FDD908;
  padding: 4px 10px 3px;
  margin: 25px 0 20px;
  border: 5px solid transparent;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

@media (max-width: 1024px) {
  .btn {
    font-size: 2rem;
  }
}

.btn:hover,
.btn:focus {
  border: solid 5px #FDD908;
  color: white;
  background-color: transparent;
}

.btn2:hover,
.btn2:focus {
  color: #0D457F;
}

header nav {
  width: 100%;
}

@media (max-width: 640px) {
  header nav {
    display: none;
  }
}

header nav a {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: 1px;
  color: white;
  padding: 10px 0 3px;
  margin: 0 20px;
  border-bottom: 2px solid transparent;
}

header nav a:hover,
header nav a:focus {
  border-bottom: 2px solid #FDD908;
}

header i {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 3rem;
  color: white;
  text-shadow: 2px 2px 4px black;
  visibility: hidden;
}

@media (max-width: 640px) {
  header i {
    visibility: visible;
  }
}

header i:hover,
header i:focus {
  color: #FDD908;
}

header .header-content {
  height: 70vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1334px) {
  header .header-content {
    height: 50vh;
  }
}

@media (max-width: 1024px) {
  header .header-content {
    height: 60vh;
  }
}

@media (max-width: 768px) {
  header .header-content {
    height: 30vh;
  }
}

header h1 {
  font-size: calc(2rem + 4vw);
  text-shadow: 2px 2px 4px black;
  line-height: 1.2em;
  color: #FDD908;
  width: calc(45% - 5%);
  max-width: 600px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 0 4% 5%;
}

@media (max-width: 768px) {
  header h1 {
    font-size: calc(2.8rem + 2vw);
    margin-bottom: 4vh;
  }
}

header .header-image {
  width: 55%;
  max-width: 900px;
  margin: 6% 0 -15%;
}

@media (max-width: 1334px) {
  header .header-image {
    max-width: 650px;
  }
}

@media (max-width: 1024px) {
  header .header-image {
    width: 53%;
  }
}

footer {
  background-color: #FDD908;
  color: #0D457F;
  text-align: center;
  padding: 10px 20px;
}

footer p {
  line-height: 1em;
  font-size: 1.5rem;
}

.home {
  overflow-x: hidden;
}

.home header {
  background: url("/assets/home-header.jpg") center/cover;
  padding-top: 60px;
}

@media (max-width: 640px) {
  .home header {
    padding-top: 8px;
  }
}

.home header .home-wrapper {
  max-width: 1300px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 640px) {
  .home header .home-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.home header nav {
  padding-left: 40px;
}

.home header h1 {
  font-size: calc(2.5rem + 2.8vw);
  width: 40%;
  margin: 0;
  padding: 0 0 40px 50px;
}

@media (max-width: 640px) {
  .home header h1 {
    width: 100%;
    padding: 50px 0 0 25px;
    margin-bottom: -20px;
  }
}

.home header img {
  width: 60%;
  position: relative;
  right: calc(-1 * ((100vw - 1300px) / 2));
  bottom: -100px;
}

@media (max-width: 1300px) {
  .home header img {
    right: 0;
  }
}

@media (max-width: 640px) {
  .home header img {
    width: 90%;
    -ms-flex-item-align: end;
        align-self: flex-end;
    bottom: -50px;
  }
}

.home .about {
  margin: 100px 0 120px;
}

@media (max-width: 1024px) {
  .home .about {
    margin: 120px 0;
  }
}

@media (max-width: 768px) {
  .home .about .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.home .about .item {
  width: calc(50% - 20px);
}

@media (max-width: 768px) {
  .home .about .item {
    width: 100%;
  }
}

.home .about .item:nth-child(odd) {
  margin-right: 10px;
}

.home .about .item:nth-child(even) {
  margin-left: 10px;
}

.home .about h2 {
  margin: 40px 0 10px;
}

@media (max-width: 640px) {
  .home .about h2 {
    font-size: 2.5rem;
    margin-top: 40px;
  }
}

.home .about h2::before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  font-size: 2.5rem;
  font-style: normal;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  background-color: #FDD908;
  border-radius: 50%;
  padding: 10px;
  margin: 0 10px 5px 0;
  width: 30px;
  height: 30px;
  display: inline-block;
}

.home .about .item1 h2::before {
  content: "\f3c5";
}

.home .about .item2 h2::before {
  content: "\f0c0";
}

.home .about .item3 h2::before {
  content: "\f15b";
}

.home .about .item4 h2::before {
  content: "\f095";
}

.home .about p {
  padding-left: 62px;
}

@media (max-width: 640px) {
  .home .about p {
    padding-right: 10px;
  }
}

.home .programs {
  background-color: #0D457F;
}

.home .programs .wrapper {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 640px) {
  .home .programs .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 10%;
  }
}

.home .programs .program {
  width: 42%;
  max-width: 600px;
  margin-top: -35px;
}

@media (max-width: 640px) {
  .home .programs .program {
    width: 100%;
  }
}

.home .programs .program img {
  -webkit-box-shadow: 12px 12px 0 #FDD908;
          box-shadow: 12px 12px 0 #FDD908;
}

@media (max-width: 640px) {
  .home .programs .program img {
    margin-left: -6px;
  }
}

.home .programs .program img:last-child {
  -webkit-box-shadow: -12px 12px 0 #FDD908;
          box-shadow: -12px 12px 0 #FDD908;
}

@media (max-width: 640px) {
  .home .programs .program img:last-child {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-left: 6px;
  }
}

.home .programs .program p {
  color: white;
  margin: 10px 0;
}

.home .programs .program .program-content {
  margin: 20% 0 10% 20%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 1024px) {
  .home .programs .program .program-content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 640px) {
  .home .programs .program .program-content {
    margin: 20% 0 30%;
  }
}

.home .programs .program:last-child {
  margin-bottom: -23px;
  margin-top: unset;
}

.home .programs .program:last-child .program-content {
  margin: 20% 20% 10% 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 640px) {
  .home .programs .program:last-child .program-content {
    margin: 20% 0;
  }
}

.home .extra .flex {
  padding: 15% 10% 10%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.home .extra .flex h2 {
  padding-bottom: 20px;
}

@media (max-width: 640px) {
  .home .banner img {
    height: 35vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.home .win {
  padding: 10%;
}

.home .win .flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .home .win .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.home .win .win-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 70%;
}

@media (max-width: 1334px) {
  .home .win .win-content {
    width: 55%;
  }
}

@media (max-width: 1024px) {
  .home .win .win-content {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 640px) {
  .home .win .win-content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.home .win .image-container {
  width: calc(30% - 92px);
  height: 100%;
  margin: -12px 80px 0 -12px;
  -webkit-box-shadow: -12px 12px 0 #FDD908;
          box-shadow: -12px 12px 0 #FDD908;
}

@media (max-width: 1334px) {
  .home .win .image-container {
    width: calc(45% - 62px);
    margin-right: calc(50px - 12px);
  }
}

@media (max-width: 1024px) {
  .home .win .image-container {
    margin: 0px -12px 60px 0px;
    width: 60%;
  }
}

@media (max-width: 640px) {
  .home .win .image-container {
    width: 100%;
  }
}

.home .win h2 {
  margin-bottom: 20px;
}

.home .gallery {
  background-color: #0D457F;
  padding: 6%;
}

.home .gallery .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .gallery img {
  width: 32%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 640px) {
  .home .gallery img {
    width: 47%;
  }
}

@media (max-width: 640px) {
  .home .gallery img:last-child {
    display: none;
  }
}

.post .wrapper {
  border: solid red 1px;
}

.post header {
  background: url("/assets/blog-header.jpg") center/cover;
  padding-top: 60px;
}

.post header h2 {
  font-size: calc(2rem + 4vw);
  text-shadow: 2px 2px 4px black;
  line-height: 1.2em;
  color: white;
  width: calc(45% - 5%);
  max-width: 600px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 0 4% 5%;
  margin-top: 12vh;
  height: 35vh;
}

@media (max-width: 768px) {
  .post header h2 {
    font-size: calc(2.8rem + 2vw);
    margin-bottom: 4vh;
  }
}

.post main .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post .right {
  width: 60%;
}

.post .right article {
  border-bottom: solid #FDD908 4px;
  position: relative;
  top: -150px;
  overflow: hidden;
}

.post .right article img {
  -webkit-box-shadow: -20px 20px 0 #FDD908;
          box-shadow: -20px 20px 0 #FDD908;
  margin-left: 20px;
}

.post .right article .content {
  border-left: solid #FDD908 4px;
  padding: 80px;
}

.post .right article .content h1 {
  font-size: 3.8rem;
  line-height: 3.8rem;
  color: #0D457F;
}

.post aside {
  width: 30%;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  background-color: #0D457F;
}
